* {
    padding: 0;
    margin: 0;
    font-family: verdana;
}

body {
    background: #3cb371;
    margin: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    row-gap: 15px;
}

.section-left {
    flex-grow: 1.5;
}

.lg-box {
    flex-wrap: wrap;
    background: white;
}

.sm-box {
    flex: 1;
    flex-wrap: wrap;
    background: white;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.top {
    margin: 15px;
}

h2 {
    padding-bottom: 15px;
}
p {
    text-align: justify;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7em;
    margin: 0 15px 0 15px;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column !important;
        gap: 15px;
    }
}